<div class="container">
  <footer class="anta-regular py-3 my-4">
    <ul class="nav navbar-dark bg-dark body-dark justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item text-white"><a routerLink="" class="nav-link px-2 text-white">Home</a></li>
      <li class="nav-item text-white"><a routerLink="products" class="nav-link px-2 text-white">Products</a></li>
      <li class="nav-item text-white"><a routerLink="about" class="nav-link px-2 text-white">About us</a></li>
      <li class="nav-item text-white"><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
      <li class="nav-item text-white"><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
    </ul>
    <p class="bg-dark text-center text-white">© 2024 CODERSGYM Sports</p>
  </footer>
</div>
