<div class="about-hero my-4">

</div>
<div class="about-text mx-5">
  <h2 class="text-center mb-4">PROUD TO BE FIT – Our slogan is our mission!</h2>
  <p>
    Since 2005, the goal of CODERGYM® Sports has been clearly defined: high-quality fitness products at fair prices for
    your home! With a diverse range of sports and fitness equipment, we bring your passion for sports into your own four
    walls.
    <br>
    Customer satisfaction, quality and sustainability have been our focus since we were founded. With this ambitious
    goal in combination with our high-performance products, we are conquering the international home fitness sector.
    CODERGYM® SPORTS is represented as an online sports brand in 22 countries and offers our wide range of products
    worldwide.</p>
  <br><br>
  <h5 class="mb-3">Reach the goal together</h5>
  <p>Versatile and innovative – With our strength and endurance equipment you can train anytime, anywhere. It doesn't
    matter whether you're a sports newbie or a professional, whether your heart beats for strength training, cardio or
    yoga. Our extensive range offers the right item for every fitness level and every individual requirement. Our
    equipment is the perfect companion for your everyday sports routine, both for workouts in your own home gym and for
    outdoor training!
    <br>
    Get fitter, build muscle, reduce weight or improve endurance – CODERGYM® SPORTS accompanies you on your entire path
    to
    your fitness goal. In addition to the right fitness equipment, we also support you with a free magazine. With
    exclusive workout plans, delicious recipes and interesting sports and nutrition articles, it provides you with
    informative input for more variety in your training and a healthier lifestyle.
  </p>
  <img alt="goal-together" src="/assets/goal-together.jpg"
       style="height:292px; width:300px">
  <br><br>
  <h5 class="mb-3">Our products – our passion</h5>
  <p>Every day we work in close collaboration with our development team on new ideas for exciting products as well as on
    the timely implementation of customer requests.

    Expanding our product range is just as important to us as revamping our customers. Always with the goal in mind of
    developing and selling the best possible item!

    From kettlebells to multi-gyms, we want to make the fun of exercise and fitness accessible to you anytime, anywhere
    with our sports accessories. We rely on a balanced combination of innovative design, high durability and easy
    handling
    during workouts so that you can keep yourself fit and healthy with the help of physical exercise.
  </p>
  <img alt="passion" src="/assets/passion.jpg"
       style="height:292px; width:300px">
  <br><br>
  <h5 class="mb-3">Our team – The CODERGYM® SPORTS crew</h5>
  <p>In the heart of Europe, in the middle of Austria, our company headquarters is with 9000 m² of storage space from which
  the entire sports world is supplied with our equipment. The entire CODERGYM® SPORTS crew is gathered under one roof in
  Groß-Gerau. Close and intensive collaboration is therefore part of our daily business. The warehouse, customer service
  and the various office departments work hand in hand every day to guarantee excellent customer service. Since the
  customer's purchasing experience and their satisfaction are our top priority, we rely on quick exchanges internally as
  well as short communication and decision-making channels. These are a given for our constantly growing company and
  also strengthen our innovation and team spirit! Just like the CODERGYM®s live in groups, we are a multicultural crew
  made up of different nations and age groups. As a diverse CODERGYM® SPORTS team, we all pursue the same vision "to bring
  passion for fitness into everyone's life"!</p>
  <img alt="crew" src="/assets/crew.jpg"
       style="height:292px; width:300px">
</div>
