<!--
<div class="container-fluid mt-5">
    <div *ngFor="let val of products; index as i">
        <img class="mb-4" src="./assets/{{val.img}}">
        <h4>{{val.name}}</h4>
        <p class="fs-5">{{val.price}}€</p>
        <a routerLink="/details/{{i}}" class="btn btn-warning">Details</a>
        <hr>
    </div>
</div>
-->

<div class="container mt-5">
  <div class="row row-cols-1 row-cols-lg-3 row cols-xl-3 row-cols-md-3 row-cols-sm-2">
    <div *ngFor="let product of products; index as i">
      <div class="card"  [class.notAvailable]="!product.availability" style="width: 18rem;">
        <img src="{{product.img}}" [class.notAvailableImg]="!product.availability" class="card-img-top img bg-secondary" alt="product-img">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <div class="d-flex justify-content-between">
            <a routerLink="/details/{{i}}" class="btn btn-secondary">Details</a>
            <button *ngIf="product.availability" (click)="addToCart(product)" class="btn btn-success">Add to cart</button>
            <p *ngIf="!product.availability">Not available</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
