<app-hero></app-hero>
<div class="container">
  <h1>CODERGYM® Sports - Your online shop for bodybuilding & fitness</h1>
  <p>
    As passionate strength athletes, we have high demands on bodybuilding and
    fitness equipment. And this is reflected in our products: quality and
    sustainability, as well as functionality and safety, are clearly the focus.
    Because no matter whether you are 18, 45 or 65: the joy of fitness and the
    success of effective exercises depend on the right training equipment. With
    a wide range, many years of experience and comprehensive service, CODERGYM®
    Sports is your ideal training partner when it comes to strength training ,
    fitness and aerobics . Whether for your own home or for the gym - discover
    new products now and set up your own home gym !
  </p>
  <h5>Professional training equipment for everyone - get started now!</h5>
  <p>
    A pull-up a day, keeps the doctor away? It could work, because regular
    pull-ups contribute to physical fitness - just like exercises on the
    abdominal trainer, back trainer or weight bench . And that's why not only
    pull-up bars , but also dipper stations and other training equipment are
    waiting for you here in the CODERGYM® Sports Online Shop. Regardless of
    whether you train regularly at home, want to do something specifically for
    your health or need new equipment for your gym: CODERGYM® Sports is your
    strong partner. We offer you stable and safe equipment for effective
    training - discover our large selection, as well as extensive service and
    support. Click in!
  </p>
  <h5>Strength sports shop: high-quality weights for targeted exercises</h5>
  <p>
    Strength machines, lifting weights, testing your own limits - that's exactly
    your world? Then you've come to the right place in the strength training
    section of our shop. No matter whether strength training for women or men,
    whether young or old: finger dumbbells , weight plates , dumbbells and
    barbell sets support you on your way to more strength and endurance. View
    professional studio equipment now !
  </p>
  <h5>Functional Fitness Training: More than a fitness trend!</h5>
  <p>
    Sport is murder? Rather the opposite, we would think. Because regular
    exercise benefits your health. And last but not least, fitness training also
    defines the body - and helps us feel completely good. In the functional
    fitness area, kettlebell sets , vaulting boxes and more for cross training
    as well as push up bars are waiting for you in the CODERGYM® Sports online
    shop. These devices support freer training and help improve performance.
    It's not just health-conscious people who use it to train certain muscle
    groups - get started now with functional fitness indoors and outdoors!
  </p>
  <h5>Aerobic exercises: Stay in dynamic shape!</h5>
  <p>
    My home is my castle. And so that you can not only eat and sleep there, but
    also do something for your body, we have the right equipment for your very
    own gym at home. Do you value defined arms and legs? Do you regularly do
    aerobic workouts ? Would you like to train your fitness and endurance and be
    independent of wind and weather? Or do you love yoga ? Then start browsing
    now: gym dumbbells , steppers , yoga mats , exercise balls , trampolines ,
    skipping ropes and much more are waiting for you in the CODERGYM® Sports
    online shop.
  </p>
  <h5>Sports Wear & Accessories: perfectly equipped for fitness training</h5>
  <p>
    There is no such thing as bad weather, just bad clothing - this also applies
    to strength training. Because no matter whether outdoors or regardless of
    the weather at home or in the fitness center: with functional fitness
    clothing you are optimally equipped for your tasks. By the way: In the
    CODERGYM® Sports online shop you will find not only clothing but also a large
    selection of accessories for your next sports session - from ropes to racks
    for balls. Find out more now and get started with professional gym equipment
    !
  </p>
</div>
